@model EKContent.web.Models.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = Model.Page.Title;
}

<div class="btn-group" style="margin-bottom:5px">
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">User Actions <span
        class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a  href = "@Url.Action(User.Identity.IsAuthenticated ? "Logout" : "Login", "Auth", new { id = Model.Page.Id })">@( User.Identity.IsAuthenticated ? "Logout" : "Login")</a></li>
        @if (User.Identity.IsAuthenticated)
        {
            <li><a  href = "@Url.Action("ChangePassword", "Auth", new { id = Model.Page.Id })">Change
                Password</a></li>
        }
        @if (Roles.IsUserInRole("Admin"))
        {
            <li><a  href = "@Url.Action("List", "Image", new { id = Model.Page.Id })">Image Gallery</a></li>
        }
    </ul>
</div>
