@model EKContent.web.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Contact";
}

<h2>Contact Form</h2>
<ul>
    <li>@Model.Site.Name</li>
    <li>@Model.Site.Phone</li>
    <li>@Model.Site.Email</li>
</ul>
