@model EKContent.web.Models.ViewModels.HomeIndexViewModel
@using EKContent.web.Models.ViewModels;
@{
    ViewBag.Title = Model.Page.Title;
    ViewBag.SiteTitle = Model.Site.Title;
}
<script>
    $(function () {
        $(".delete").click(function () {
            var form = $(this).parents("form");
            form.attr("action", this.href);
            form.submit();
            return false;
        });
    });
</script>
@Html.Partial("Nav")

@*<br clear="all" />*@
@{int Mdx = 0;}
@foreach (var module in Model.Page.Modules)
{
    int Idx = 0;    
    <div class="accordion" id="content-wrapper">
    @foreach (var item in module.Content)
    {

        @Html.Partial(String.Format("~/Views/Shared/Items/{0}Item.cshtml", Model.Page.PageType.ToString()), new ContentWrapper { Content = item, Page = Model.Page, Idx = Idx, Mdx = Mdx, EditMode = Model.EditMode()})
    
        Idx++;        
    }
    </div>
    Mdx++;
}
@if (Model.Page.PageType == EKContent.web.Models.Entities.PageTypes.Contact)
{
    @Html.Partial("Contact")
}
